# Ambientes Virtuais 
.venv/
venv/
env/

# Python 
**/__pycache__/
*.py[cod]
*$py.class
alembic/**/__pycache__/
# Variáveis de Ambiente
.env
.env.test

# Testes
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/
.devcontainer/
